<section id="produtos">
  <div class="container">
    <h2>PRODUTOS PARA TODAS AS CATEGORIAS</h2>
    <div class="products" style="margin-top:18px">
      <div class="product">
        <img src="../brascann_images/Glide-BOHECO.png" alt="Glide+">
        <h5>GLIDE+</h5>
        <p class="muted">Acalma artrite e dor articular moderada</p>
        <a class="btn" href="#">QUERO SABER MAIS</a>
      </div>

      <div class="product">
        <img src="../brascann_images/COMBAT_BOHECO.png" alt="COMBAT">
        <h5>COMBAT</h5>
        <p class="muted">Oque falar aqui????!!!</p>
        <a class="btn" href="#">QUERO SABER MAIS</a>
      </div>

      <div class="product">
        <img src="../brascann_images/page_3_img_1.png" alt="Gotas">
        <h5>GOTAS</h5>
        <p class="muted">Uso controlado conforme prescrição</p>
        <a class="btn" href="#">VER TODOS</a>
      </div>
    </div>
  </div>
</section>
